
    {% extends "layout.html" %}
   
    {% block content %}
    <h2 class="text-center">HOME PAGE</h2>
     {% with messages = get_flashed_messages(with_categories=true) %} 
         {% if messages %} 
         {% for category, message in messages %}
         <div class="alert alert-{{category}}">
           <p> {{ message }}</p>
        </div>
    {% endfor %} 
    {% endif %} 
    {% endwith %}
    <div>
        <a style="float: left; display: inline-block; margin-right: 15px;" href="{{url_for('patient_registration')}}">Patient Registration</a>
        <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('update_patient')}}">Update Patient</a>
        <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('home')}}">Home</a>
        <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('delete_patient')}}">Delete Patient</a>
        <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('search_patient')}}">Search Patient</a>
        <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('pharmacy')}}">Search Pharmacy</a>
         <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('diagonistics')}}">Diagonistics</a>
         <a style="float: left; display: inline-block;margin-right: 15px;" href="{{url_for('billing')}}">Billing</a>

    </div>
    <br clear="both">
            {% block forms %}
            {% endblock %}
    <!-- <p>{{access}}</p> -->

    
    {% endblock %}