    <!-- load layout on every page -->
    {% extends "layout.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

   
   <!-- this loads block inside layout -->
    {% block content %}


    <div class="row">
        <div class="col-md-6 offset-md-3 box">
            <h2 class="text-center">Login</h2>
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{title}}</legend> 
                    {{ form.hidden_tag() }}

                    <p>
                        
                        {{ wtf.form_field(form.username, placeholder="username") }}
                        {% for error in form.username.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        
                        {{ wtf.form_field(form.password, placeholder="password") }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <br class="clear">
                    <input class="btn-submit btn btn-primary" type="submit" name="submit" value="Login">
                </fieldset>



                <!-- <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login"> -->
            </form>
        </div>
    </div>
 {% endblock %}